%nav#sidebar.active{"data-controller" => "navbar"}
  .sidebar-header
    %img.app-logo{:alt => "bootraper logo", :src => asset_path("logo.png"), width: '120px'}/
  %ul.list-unstyled.components.text-secondary
    %li
      %a{:href => root_path}
        %i.fas.fa-home
        Dashboard
    %li
      %a{:href => calendar_path}
        %i.fas.fa-calendar
        Calendar
    %li
      %a{:href => patients_path}
        %i.fas.fa-users
        Patients
    %li
      %a.dropdown-toggle.no-caret-down{"aria-expanded" => "false", "data-bs-toggle" => "collapse", :href => "#configmenu"}
        %i.fas.fa-copy
        Configuration
      %ul#configmenu.collapse.list-unstyled
        %li
          %a{:href => pharmacies_path}
            %i.fas.fa-file
            Pharmacies
        %li
          %a{:href => diagnoses_path}
            %i.fas.fa-info-circle
            Diagnoses
        %li
          %a{:href => "500.html"}
            %i.fas.fa-info-circle
            500 Error page
    %li
      %a{:href => manage_users_path}
        %i.fas.fa-user-friends>
        Users
    %li
      %a{:href => "settings.html"}
        %i.fas.fa-cog>
        Settings