#calendar.calendar_wrapper
  .row
    .col-md-12.page-header
      .page-pretitle Calendar
  .row
    .col-12
      .card
        .card-body
          = date_field_tag :today, Date.today, class: "form-control cal_today_date mb-3"
          #dp
= content_for :custom_modals do
  = render partial: "shared/js_modal"
