.calendar_wrapper{"data-controller" => "calendar"}
  .row
    .col-md-12.page-header
      .page-pretitle Calendar
      %h2.page-title Dashboard
  .row
    .col-12
      .card
        .card-body
          #dp