.page-title
  %h3 
    Listing Patients
    = link_to new_patient_path, class: 'btn btn-sm btn-outline-primary float-end' do
      %i.fas.fa-plus
      %span Add Patient


.row
  .col-12
    .box.box-primary
      .box-body
        = form_with(url: patients_path, method: :get, data: { controller: "form-submission", turbo_frame: "patients", turbo_action: "advance" }) do |f|
          = f.text_field :query, class: 'form-control', value: params[:query], placeholder: 'Search by patient name', data: { action: "input->form-submission#search" }
        = render partial: 'patients', locals: { patients: @patients }
